* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #111;
    color: white;
}

/* HEADER */
header {
    background: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: gold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: gold;
}

/* HERO */
.hero {
    background: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?w=1400") 
    center/cover no-repeat;
    padding: 160px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    color: gold;
}

.hero p {
    font-size: 20px;
}

/* PRODUCTS */
.products {
    padding: 50px 20px;
}

.products h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.product-card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #000;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    font-size: 22px;
    color: gold;
    margin: 10px 0;
}

.btn {
    background: gold;
    color: #000;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: #ffd700;
}

/* CART */
.cart-panel {
    position: fixed;
    right: -400px;
    top: 0;
    width: 350px;
    height: 100%;
    background: #222;
    padding: 20px;
    box-shadow: -5px 0 10px #000;
    transition: 0.4s;
    overflow-y: auto;
}

.cart-panel.open {
    right: 0;
}

#cart-items div {
    background: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.total {
    font-size: 20px;
    margin-top: 15px;
}

.close {
    margin-top: 20px;
    width: 100%;
}

footer {
    background: #000;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
